<h1>Book Club</h1>
<%= image_tag 'https://www.catster.com/wp-content/uploads/2017/08/A-fluffy-cat-looking-funny-surprised-or-concerned.jpg', class: "img-fluid" %>

<%= link_to 'My books', controller:'books' %>
